/*base*/
@font-face {
  font-family: Calibri;
}

body {
  background: #fff;
}

input,
textarea,
body {
  color: #333333;
  font-size: 12px;
  font-family: Calibri;
}

a {
  color: #2279ca;
}

a:hover {
  color: #2279ca;
}

::selection {
  background: #0784ad;
  color: #fff;
}

::-moz-selection {
  background: #0784ad;
  color: #fff;
}

/*-b-map-*/
section {
  margin: 50px auto 0;
  width: 910px;
}
.b-list_map {
  margin: 0 60px 20px 0;
  width: 255px;
}
.b-list_map .item {
  margin-bottom: 15px;
  font-size: 18px;
}
.b-list_map .link {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #000;
}
.b-list_map .text {
  display: block;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: bold;
  color: #1f7d94;
}
.b-list_map .b-list_map {
  margin: 0 0 0 15px;
  width: 240px;
}
.b-list_map .b-list_map .item {
  margin-bottom: 10px;
  font-size: 15px;
}
.b-list_map .b-list_map .link {
  margin-bottom: 8px;
  font-size: 15px;
}
.b-list_map .b-list_map .b-list_map {
  margin-left: 15px;
  width: 225px;
}
.b-list_map .b-list_map .b-list_map .item {
  margin-bottom: 8px;
  font-size: 13px;
}
.b-list_map .b-list_map .b-list_map .link {
  margin-bottom: 8px;
  font-size: 13px;
}
.b-list_map .b-list_map .b-list_map .b-list_map {
  margin-left: 15px;
  width: 210px;
}
.b-list_map .b-list_map .b-list_map .b-list_map .item {
  margin-bottom: 6px;
  font-size: 11px;
}
.b-list_map .b-list_map .b-list_map .b-list_map .link {
  margin-bottom: 6px;
  font-size: 11px;
}
.b-list_map-last {
  margin-right: 0;
}
/*-/b-map-*/
